<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" data-bs-theme="dark">
<div class="header" th:fragment="bodyHeader">
    <nav class="container-fluid">
        <ul>
            <li><strong><a href="/">DolJub m</a></strong></li>
        </ul>
        <ul>
            <li><a href="/guild">Guild</a></li>
            <th:block sec:authorize="isAuthenticated()">
                <li><a href="/character">Character</a></li>
                <li><a href="/mypage">profile</a></li>
            </th:block>
            <li sec:authorize="isAuthenticated()" ><button class="secondary" onclick="window.location.href='/logout' ">Logout</button></li>
            <li sec:authorize="isAnonymous()" ><button class="secondary" onclick="window.location.href='/login' ">Login</button></li>
        </ul>
    </nav>
</div>
