<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" data-bs-theme="dark">
<div class="header" th:fragment="bodyHeader">
    <nav class="container-fluid">
        <ul>
            <li><strong>DolJub m</strong><small> Beta</small></li>
        </ul>
        <ul>
            <li><a href="/">메인</a></li>
            <th:block sec:authorize="isAuthenticated()">
                <li><a href="/character">캐릭터 관리</a></li>
            </th:block>
            <li><a href="/guild">길드</a></li>
            <li sec:authorize="isAuthenticated()" ><button class="secondary" onclick="window.location.href='/logout' ">Logout</button></li>
            <li sec:authorize="isAnonymous()" ><button class="secondary" onclick="window.location.href='/login' ">Login</button></li>
        </ul>
    </nav>
</div>
