<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>메이플스토리 M 돌줍</title>
<!--    <meta name="description" content="A minimalist layout for Login pages. Built with Pico CSS." />-->
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
    <!-- Pico.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
    <!-- 자바스크립트 테마 설정-->
    <script th:src="@{/js/themeSwitcher.js}" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
</head>
