/******************************** 로그인 회원가입 루트 PicoCss **************************************/
body {
    padding-bottom: 44px;
}

article {
  padding: 0;
  overflow: hidden;
}

article div {
  padding: 1rem;
}

@media (min-width: 576px) {
  body > main {
    padding: 1.25rem 0;
  }

  article div {
    padding: 1.25rem;
  }
}

@media (min-width: 768px) {
  body > main {
    padding: 1.5rem 0;
  }

  article div {
    padding: 1.5rem;
  }
}

@media (min-width: 992px) {
  body > main {
    padding: 1.75rem 0;
  }

  article div {
    padding: 1.75rem;
  }
}

@media (min-width: 1200px) {
  body > main {
    padding: 2rem 0;
  }

  article div {
    padding: 2rem;
  }
}

/* Nav */
summary[role="link"].secondary:is([aria-current], :hover, :active, :focus) {
  background-color: transparent;
  color: var(--secondary-hover);
}

/* Hero Image */
article div:nth-of-type(2) {
  display: none;
  background-color: #374956;
  background-image: url("../images/login.png");
  background-position: center;
  background-size: cover;
}

@media (min-width: 992px) {
  .grid > div:nth-of-type(2) {
    display: block;
  }
}
/******************************** 메인 커스텀 **************************************/

/* box 에서 drop-shadow 로 변경 */
@keyframes shadowPulse {
    0% {
        /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); */
        filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
    }
    50% {
        /* box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5); */
        filter: drop-shadow(0px 5px 10px rgba(255, 255, 255, 0.5));
    }
    100% {
        /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); */
        filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
    }
}

 /* 이미지 효과 */
.main-image img {
    margin-top: 50px;
    overflow: hidden;
    width: 320px;
    height: auto;
    margin-bottom: 50px;
    animation: shadowPulse 3s infinite;
}

 /* 이미지 */
.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

 /* 기본 content */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

 /* 검색 폼 div */
.main-search {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

 /* 검색 폼 */
 /* 1. 캐릭터 검색 2. 길드 검색*/
.main-search form {
    width: 320px;
    justify-content: center;
}

/******************************** 푸터 커스텀**************************************/

/* Footer */
body > footer {
  padding: 1rem 0;
}

/* footer */
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   padding: 10px 0;
   background-color: #13191E
}
/******************************** 캐릭터 커스텀 **************************************/
/* 캐릭터 등록 */
.character-register {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

/* 직업 이미지 설정 */
.job-image {
    width: 35px;
    height: auto;
}

/* 캐릭터 등록 버튼 */
.plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4CAF50;
    font-size: 24px;
    text-decoration: none;
}

.plus-button:hover {
    color: #45a049;
}

.job-info {
    display: flex;
    justify-content: flex-end;
}

.job-name {
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
}

/* 캐릭터 목록 */
.character-list {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 12px 30px 0 rgba(0,0,0,0.4);
    margin-bottom: 50px;
}

.character-list > h3 {
    text-align: center;
}

td:first-child {
    font-weight: bold;
}

td:not(:first-child):not(:last-child) {
    text-align: right;
}

td:last-child {
    text-align: right;
}

.character-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    flex-direction: column;
}

.character-empty-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/******************************** 에러 커스텀 **************************************/

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    flex-direction: column;
}

.error-image {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fieldError {
    border-color: red;
    color: red;
}

/******************************** 글로벌 커스텀 **************************************/

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
.title h1 {
    padding-bottom: 30px;
    margin-top: 70px;
}







