/******************************** 로그인 회원가입 루트 **************************************/
body {
    padding-bottom: 44px;
}

article {
  padding: 0;
  overflow: hidden;
}

article div {
  padding: 1rem;
}

@media (min-width: 576px) {
  body > main {
    padding: 1.25rem 0;
  }

  article div {
    padding: 1.25rem;
  }
}

@media (min-width: 768px) {
  body > main {
    padding: 1.5rem 0;
  }

  article div {
    padding: 1.5rem;
  }
}

@media (min-width: 992px) {
  body > main {
    padding: 1.75rem 0;
  }

  article div {
    padding: 1.75rem;
  }
}

@media (min-width: 1200px) {
  body > main {
    padding: 2rem 0;
  }

  article div {
    padding: 2rem;
  }
}

/* Nav */
summary[role="link"].secondary:is([aria-current], :hover, :active, :focus) {
  background-color: transparent;
  color: var(--secondary-hover);
}

/* Hero Image */
article div:nth-of-type(2) {
  display: none;
  background-color: #374956;
  background-image: url("../images/login.png");
  background-position: center;
  background-size: cover;
}

@media (min-width: 992px) {
  .grid > div:nth-of-type(2) {
    display: block;
  }
}
/******************************** 메인 **************************************/

/* box 에서 drop-shadow 로 변경 */
@keyframes shadowPulse {
    0% {
        /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); */
        filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
    }
    50% {
        /* box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5); */
        filter: drop-shadow(0px 5px 10px rgba(255, 255, 255, 0.5));
    }
    100% {
        /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); */
        filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
    }
}
.main-image img {
    margin-top: 50px;
    overflow: hidden;
    width: 320px;
    height: auto;
    margin-bottom: 50px;
    animation: shadowPulse 3s infinite;
}

.main-image {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.main-content {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.main-search {
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.main-search form {
    width: 320px;
    justify-content: center; /* 수평 가운데 정렬 */
}

/******************************** 푸터 **************************************/

/* Footer */
body > footer {
  padding: 1rem 0;
}

/* footer */
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   padding: 10px 0;
   background-color: #13191E
}
/******************************** 캐릭터 **************************************/
/* 캐릭터 등록 */
.character-register {
    display: flex;
    justify-content: right; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center;
    margin-top: 30px;
}

/* 직업 이미지 설정 */
.job-image {
    width: 35px;
    height: auto;
}

/* 캐릭터 등록 버튼 */
.plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4CAF50; /* 플러스 기호 색 */
    font-size: 24px; /* 플러스 기호 크기 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

.plus-button:hover {
    color: #45a049; /* 호버시 배경색 */
}

.job-info {
    display: flex;
    justify-content: flex-end;
}

.job-name {
    font-weight: bold;
    font-size: 14px; /* Set font size to 8px */
    margin-right: 10px; /* Adjust spacing between job name and image */
}

/* 캐릭터 목록 */
.character-list {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.character-list > h3 {
    text-align: center;
}

td:first-child {
    font-weight: bold;
}

td:not(:first-child):not(:last-child) {
    text-align: right;
}

td:last-child {
    text-align: right;
}

.character-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    flex-direction: column; /* 세로 정렬 설정 */
}

.character-empty-image {
    display: flex;
    justify-content: center;
    align-items: center;
}





