<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<head th:replace="~{fragments/bodyHeader :: bodyHeader}"></head>
<div class="title" style="background-image: url('/images/background/background-character-register.jpg');">
  <h1>
    <span>캐릭터등록</span>
    <img style="max-width: 33px;" src="/images/character.png" alt="">
  </h1>
</div>
<div class="main-section">
  <div class="main-search">

    <form th:object="${characterDto}" action="/character/register/process", method="post">
<!--      <h3 style="padding-left: 50px;">캐릭터 등록 <img src="/images/search.gif" alt="search-gif"></h3>-->
      <br>
      <div class="form-group">
        <label th:for="name">닉네임</label>
        <input type="text" th:field="*{name}" class="form-control" placeholder="캐릭터 이름을 입력하세요" />
      </div>

      <label th:for="world">월드 🌐</label>
      <select name="world" aria-label="Select your world" required>
        <option>
          월드를 선택하세요.
        </option>
        <option th:value="스카니아">스카니아</option>
        <option th:value="루나">루나</option>
        <option th:value="오니온">오니온</option>
      </select>

      <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
      <small th:if="${error}" style="color: red" th:text="${error}">Error</small>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
