<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: header}"></head>

<body>
<head th:replace="~{fragments/bodyHeader :: bodyHeader}"></head>
    <div class="title" style="background-image: url('/images/background/background-guildList.jpg');">
        <h1>
            <span>길드</span>
            <img style="max-width: 33px;" src="/images/rootGuild.png" alt="">
        </h1>
    </div>
    <div class="main-section">
        <div class="container">
            <div class="character-list">
                <table th:if="${!guilds.isEmpty()}">
                    <tbody>
                    <tr th:each="guild : ${guilds}">
                        <td>
                            <a th:href="@{/guild/info/{name}(name=${guild.name})}">
                                <span th:text="${guild.name}"></span>
                            </a>
                        </td>
                        <td>
                            <span th:text="${guild.world}"></span>
                            <!-- 스카니아 서버 아이콘 -->
                            <img th:if="${guild.world == '스카니아'}" src="/images/server/skania.png" alt="스카니아 서버 아이콘">
                            <!-- 루나 서버 아이콘 -->
                            <img th:if="${guild.world == '루나'}" src="/images/server/runa.png" alt="루나 서버 아이콘">
                            <!-- 유니온 서버 아이콘 -->
                            <img th:if="${guild.world == '유니온'}" src="/images/server/union.png" alt="유니온 서버 아이콘">
                            <!-- 크로아 서버 아이콘 -->
                            <img th:if="${guild.world == '크로아'}" src="/images/server/croa.png" alt="크로아 서버 아이콘">
                            <!-- 엘리시움 서버 아이콘 -->
                            <img th:if="${guild.world == '엘리시움'}" src="/images/server/elisium.png" alt="엘리시움 서버 아이콘">
                            <!-- 제니스 서버 아이콘 -->
                            <img th:if="${guild.world == '제니스'}" src="/images/server/zenis.png" alt="제니스 서버 아이콘">
                        </td>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:if="${guilds.isEmpty()}" class="character-empty">
                    <span>등록된 길드가 없습니다...</span>
                </div>
            </div>
        </div>
    </div>
</body>
<div th:replace="~{fragments/footer :: footer}"></div>
</html>