<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head th:replace="fragments/header :: header" />-->



<!--<body>-->
<!--<head th:replace="fragments/bodyHeader :: bodyHeader" />-->

<!--<div class="main-section d-flex align-items-center">-->
<!--    <div class="container">-->
<!--        &lt;!&ndash; 메인 섹션 내용 &ndash;&gt;-->
<!--        <a href="/character/register"><h3 class="text-muted">캐릭터 등록하기 ✨</h3></a>-->
<!--        <br>-->
<!--        <th:block sec:authorize="isAnonymous()">-->
<!--            <h1> 길드 캐릭터 목록 <small>로그인 후 이용</small></h1>-->
<!--        </th:block>-->

<!--        <th:block sec:authorize="isAuthenticated()">-->
<!--            <p th:text="${guildName}">-->
<!--            </p>-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <th>Name</th>-->
<!--                    <th>Job</th>-->
<!--                </tr>-->
<!--                <tr th:each="character : ${characters}">-->
<!--                    <td th:text="${character.name}"></td>-->
<!--                    <td th:text="${character.job}"></td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </th:block>-->
<!--    </div>-->

<!--</div>-->

<!--</body>-->
<!--<div th:replace="fragments/footer :: footer" />-->

<!--</html>-->