<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: header}"></head>

<body>
<head th:replace="~{fragments/bodyHeader :: bodyHeader}"></head>
    <div class="title" style="background-image: url('/images/background/background-guildList.jpg');">
        <h1>
            <span>길드</span>
            <img style="max-width: 33px;" src="/images/rootGuild.png" alt="">
        </h1>
    </div>
    <div class="main-section">
        <div class="container">
            <div class="character-list">
                <table th:if="${!guilds.isEmpty()}">
                    <tbody>
                    <tr th:each="guild : ${guilds}">
                        <td>
                            <a th:href="@{/guild/info/{name}(name=${guild.name})}">
                                <span th:text="${guild.name}"></span>
                            </a>
                        </td>
                        <td>
                            <span th:text="${guild.world}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:if="${guilds.isEmpty()}" class="character-empty">
                    <span>등록된 길드가 없습니다...</span>
                </div>
            </div>
        </div>
    </div>
</body>
<div th:replace="~{fragments/footer :: footer}"></div>
</html>