<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header">



<body>
<head th:replace="fragments/bodyHeader :: bodyHeader">

<div class="main-section d-flex align-items-center">
    <div class="container">
        <!-- 메인 섹션 내용 -->
        <div class="main-image">
            <img src="./images/main.jpg" alt="">
        </div>
        <div class="main-content">
            <th:block sec:authorize="isAnonymous()">
                <h2>회원가입하고 캐릭터 등록 !</h2>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <h2>Welcome</h2>
            </th:block>
        </div>
    </div>

</div>

</body>

<!--footer-->
<div th:replace="fragments/footer :: footer"></div>

</html>